services:
    postgres:
        container_name: postgres15
        image: postgres:15-alpine
        restart: always
        environment:
            POSTGRES_DB: nestdb
            POSTGRES_USER: root
            POSTGRES_PASSWORD: admin
        ports:
            - "5433:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata:
